<div class="header-text">
    <p>
        At Select Carpentry, we bring your renovation dreams to life with
        stunning, functional spaces that reflect your style and meet your needs.
        Whether you’re upgrading a bathroom, transforming a kitchen, or creating
        the perfect outdoor retreat, we deliver craftsmanship you can trust.
    </p>
</div>

<style>
    .header-text {
        padding: 2em 1em;
        color: var(--black);
    }
    .header-text p {
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 2em;
    }
    @media (width >= 768px) {
        .header-text {
            padding: 6em 4em;
        }
    }
    @media (width >= 1024px) {
        .header-text {
            padding: 8em 6em;
        }
    }
    @media (width >= 1440px) {
        .header-text {
            padding: 10em 16em;
            width: 60%;
        }
    }
</style>
