---

---

<section class="intro">
    <h1>Carpentry Select</h1>
    <p>
        Your home deserves spaces that are as functional as they are beautiful.
        At Carpentry Select, we specialize in creating dream kitchens, luxurious
        bathrooms, and outdoor decks that inspire. Whether you're looking to
        refresh your interiors or expand your outdoor living space, our team
        delivers craftsmanship you can trust.
    </p>
</section>

<style>
    .intro {
        display: flex;
        flex-direction: column;
        gap: 1em;
        background-color: var(--dark);
        color: white;
        padding: 2em 1em;
    }

    .intro h1 {
        border-bottom: 1px dashed white;
        padding-bottom: 0.5em;
        font-size: 3rem;
    }
    .intro p {
        font-weight: 200;
    }
</style>
