---

---

<section class="intro">
    <h1>Select Carpentry</h1>
    <p>
        Your home deserves spaces that are as functional as they are beautiful.
        At Select Carpentry, we specialize in creating dream kitchens, luxurious
        bathrooms, and outdoor decks that inspire. Whether you're looking to
        refresh your interiors or expand your outdoor living space, our team
        delivers craftsmanship you can trust.
    </p>
</section>

<style>
    .intro {
        display: flex;
        flex-direction: column;
        gap: 1em;
        background-color: var(--dark);
        color: white;
        padding: 2em 1em;
    }

    .intro h1 {
        border-bottom: 1px dashed white;
        padding-bottom: 0.5em;
        font-size: 3rem;
    }
    .intro p {
        font-weight: 200;
    }

    @media (width >= 768px) {
        .intro {
            padding: 6em 4em;
        }
    }
    @media (width >= 1024px) {
        .intro {
            padding: 8em 6em;
            gap: 4em;
        }
        .intro p {
            font-size: 1.5rem;
            line-height: 3rem;
        }
    }
    @media (width >= 1440px) {
        .intro {
            padding: 10em 16em;
        }
    }
</style>
