---

---

<section class="testimonials">
    <h1>Client Testimonials</h1>

    <div class="testimonial-card">
        <div class="quote">
            <p>"</p>
            <blockquote>
                Our kitchen went from cramped and outdated to open and modern!
                The team was professional, and the results exceeded our
                expectations.
            </blockquote>
        </div>
        <p class="quotee">- Sarah M.</p>
    </div>
</section>

<style>
    .testimonials {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 0px 1em;
        color: var(--black);
    }

    .testimonials h1 {
        border-bottom: 1px solid var(--black);
        padding-bottom: 0.5em;
        margin-bottom: 1em;
    }

    .testimonial-card {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .quotee {
        align-self: flex-end;
        font-weight: bold;
    }

    .quote {
        display: flex;
        gap: 0.5em;
    }
    .quote p:first-of-type {
        font-size: 4rem;
        font-family: "heading";
    }
    .quote blockquote {
        font-size: 1.25rem;
        line-height: 2em;
    }

    @media (width >= 768px) {
        .testimonials {
            padding: 6em 4em;
        }
        .quote {
            padding: 4em 2em;
            gap: 1.5em;
        }
        .quotee {
            padding: 0em 2em;
        }
    }

    @media (width >= 1024px) {
        .testimonials {
            padding: 8rem 6rem;
        }
    }

    @media (width >= 1440px) {
        .testimonials {
            padding: 10em 16em;
        }
    }
</style>
