---

---

<section class="what">
    <h1>What sets us apart?</h1>

    <ul>
        <li>Years of Experience.</li>
        <li>Personalized Service that puts your needs first.</li>
        <li>Transparent Pricing with no hidden fees.</li>
    </ul>
</section>

<style>
    .what {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1em;
        color: var(--black);
    }
    .what h1 {
        font-size: 3em;
        border-bottom: 1px solid var(--dark);
        padding-bottom: 0.5em;
    }

    .what ul {
        list-style-type: square;
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin: 0px;
        padding: 1em;
        font-size: 1.5rem;
    }
</style>
