:root {
	--black: #171716;
	--dark: #33322f;
}

@font-face {
	font-family: "heading";
	src: url("/fonts/BowlbyOne-Regular.ttf") format("truetype");
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "paragraph";
	src: url("/fonts/RobotoCondensed-VariableFont_wght.ttf") format("truetype");
	font-style: normal;
	font-display: swap;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: "paragraph";
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
p {
	text-wrap: pretty;
	font-family: "paragraph";
	font-size: 1.2rem;
	line-height: 2rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
	font-family: "heading";
	font-weight: 100;
}
