---
const { title, text } = Astro.props;
---

<div class="why-card">
    <h2>{title}</h2>
    <p>{text}</p>
</div>

<style>
    .why-card {
        background-color: var(--dark);
        padding: 1em;
        color: white;
        display: flex;
        gap: 1em;
        flex-direction: column;
    }
    .why-card h2 {
        font-family: "paragraph";
        font-weight: bold;
    }
    .why-card p {
        font-weight: 200;
    }
    @media (width >= 768px) {
        .why-card {
            padding: 4em;
            gap: 2em;
        }
    }
    @media (width >= 1024px) {
        .why-card {
            width: calc(50% - 1em);
        }
    }
    @media (width >= 1440px) {
        .why-card {
            width: calc(50% - 4em);
        }
    }
</style>
