---

---

<div class="header-text">
    <p>
        At Select Carpentry, we take pride in transforming houses into dream
        homes. Based in Taree, NSW, and proudly serving the surrounding areas,
        we specialize in high-quality renovations that elevate the beauty,
        functionality, and value of your space
    </p>

    <p>
        With years of experience in carpentry and construction, we bring a
        passion for craftsmanship and attention to detail to every project.
        Whether it’s a custom kitchen renovation, a stylish bathroom upgrade, or
        a full home transformation, our goal is to deliver results that exceed
        your expectations.
    </p>
</div>

<style>
    .header-text {
        padding: 2em 1em;
        display: flex;
        flex-direction: column;
        gap: 2em;
        color: var(--black);
    }
    .header-text p {
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 2em;
    }
    @media (width >= 768px) {
        .header-text {
            padding: 6em 4em;
        }
    }
    @media (width >= 1024px) {
        .header-text {
            padding: 8em 6em;
            gap: 2em;
            flex-direction: row;
        }
        .header-text p {
            width: 50%;
        }
    }

    @media (width >= 1440px) {
        .header-text {
            padding: 10em 16em;
            gap: 8em;
        }
    }
</style>
