---
import Hero from "../components/landing/hero.astro";
import Intro from "../components/landing/intro.astro";
import Process from "../components/landing/process.astro";
import WhatWeDo from "../components/landing/what_we_do.astro";
import WhatSets from "../components/landing/what_sets.astro";
import SiteLayout from "../layouts/SiteLayout.astro";
import OurWork from "../components/landing/our_work.astro";
import Contact from "../components/landing/contact.astro";
import Testimonials from "../components/landing/testimonials.astro";
---

<SiteLayout title="Select Carpentry" description="Site description">
    <div class="page-container">
        <Hero />
        <Intro />
        <WhatWeDo />
        <Process />
        <WhatSets />
        <OurWork />
        <Testimonials />
        <Contact />
    </div>
</SiteLayout>

<style>
    .page-container {
        padding-top: calc(69px + 1em);
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    @media (width >= 1024px) {
        .page-container {
            gap: 0px;
            padding-top: 69px;
        }
    }
</style>
