---
import Hero from "../components/landing/hero.astro";
import Intro from "../components/landing/intro.astro";
import Process from "../components/landing/process.astro";
import WhatWeDo from "../components/landing/what_we_do.astro";
import WhatSets from "../components/landing/what_sets.astro";
import SiteLayout from "../layouts/SiteLayout.astro";
import OurWork from "../components/landing/our_work.astro";
---

<SiteLayout title="Select Carpentry" description="Site description">
    <div class="page-container">
        <Hero />
        <Intro />
        <WhatWeDo />
        <Process />
        <WhatSets />
        <OurWork />
    </div>
</SiteLayout>

<style>
    .page-container {
        padding-top: 68px;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
</style>
