<div class="header-text">
    <p>
        Looking to transform your home? Select Carpentry is your trusted local
        expert for stunning bathroom renovations, stylish kitchens, and
        beautiful outdoor spaces like decks and pergolas. We’re here to make
        your vision a reality with top-notch craftsmanship and reliable service.
    </p>
</div>

<style>
    .header-text {
        padding: 2em 1em;
        color: var(--black);
    }
    .header-text p {
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 2em;
    }
    @media (width >= 768px) {
        .header-text {
            padding: 6em 4em;
        }
    }
    @media (width >= 1024px) {
        .header-text {
            padding: 8em 6em;
        }
    }
    @media (width >= 1440px) {
        .header-text {
            padding: 10em 16em;
        }
        .header-text {
            width: 60%;
        }
    }
</style>
