---

---

<section class="getdone-section">
    <h1>Get It Done</h1>
    <p>
        Don’t wait to create a space you’ll love. Contact Select Carpentry today
        for expert renovations in Taree, NSW, and the surrounding areas.
    </p>
</section>

<style>
    .getdone-section {
        display: flex;
        flex-direction: column;
        gap: 1em;
        color: var(--black);
        padding: 2em 1em;
    }
    .getdone-section p {
        font-weight: 300;
        line-height: 2.5rem;
    }
    @media (width >=768px) {
        .getdone-section {
            padding: 6em 4em;
        }
    }
    @media (width >= 1024px) {
        .getdone-section {
            padding: 8em 6em;
        }
    }
    @media (width >= 1440px) {
        .getdone-section {
            padding: 10em 16em;
        }
    }
</style>
