---
import Image from "astro/components/Image.astro";

const { img, imgAlt, text } = Astro.props;
---

<section class="work-card">
    <Image src={img} alt={imgAlt} class="work-img" />
    <p>{text}</p>
</section>

<style>
    .work-img {
        width: 100%;
        object-fit: cover;
    }
    .work-card p {
        padding: 1em;
        font-weight: 300;
    }
    .work-card {
        width: 100%;
    }
    .work-card p {
        padding: 2em;
    }
    @media (width >= 768px) {
        .work-card {
            width: 50%;
        }
    }
    @media (width >= 1440px) {
        .work-card {
            width: 33.3%;
        }
    }
</style>
