<div class="header-text">
    <p>
        At Select Carpentry, we take pride in bringing beautiful, functional
        spaces to life. From sleek bathroom makeovers to custom kitchens and
        breathtaking outdoor decks, our work speaks for itself. Explore our
        gallery to see the craftsmanship and attention to detail we bring to
        every project.
    </p>
</div>

<style>
    .header-text {
        padding: 2em 1em;
        color: var(--black);
    }
    .header-text p {
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 2em;
    }
    @media (width >= 768px) {
        .header-text {
            padding: 6em 4em;
        }
    }
    @media (width >= 1024px) {
        .header-text {
            padding: 8em 6em;
        }
    }
    @media (width >= 1440px) {
        .header-text {
            padding: 10em 16em;
        }
        .header-text p {
            width: 50%;
        }
    }
</style>
